html, body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    position: 
}

#main{
    /*background-color: #000000;*/
    position: relative;
    width: 100%;
    height: 100%;
}

#stage{
    position: absolute;
}

#loading{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    font-family: Helvetica, Arial;
}
